<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/tatboard_style.css">
    <title>Add Customer</title>
</head>

<body>
    <nav class="tatboard-nav">
        <div class="tatboard-logo-div">
            <img src="/static/tamim.jpeg" alt="Loading.." class="tatboard-logo">
            <span>
                TATBoard
            </span>
        </div>
        <ul class="tatboard-nav-list">
            <li class="tatboard-nav-list-item">
                <a href="/templates/customers.html" class="tatboard-nav-list-item-link">
                    Customers
                </a>
            </li>
            <li class="tatboard-nav-list-item">
                <a href="/templates/add_customers.html" class="tatboard-nav-list-item-link">
                    Add Customer
                </a>
            </li>
            <a href="/templates/landing.html" class="tatboard-sign-in-btn">Sign In</a>
        </ul>
    </nav>
    <main class="tatboard-main-body">
        <!-- <div class="tatboard-main-addcustomer-div"> -->
        <form action="#" class="tatboard-addcustomer-form">
            <div class="tatboard-addcustomer-info-div">
                <div class="addcustomer-customer-info-field-div addcustomer-form-fname">
                    <label for="first-name">First Name :</label>
                    <input type="text" id="first-name" placeholder="First Name"
                        class="addcustomer-form-input addcustomer-form-fname-input">
                </div>
                <div class="addcustomer-customer-info-field-div addcustomer-form-lname">
                    <label for="last-name">Last Name :</label>
                    <input type="text" id="last-name" placeholder="Last Name"
                        class="addcustomer-form-input addcustomer-form-lname-input">
                </div>
            </div>
            <div class="tatboard-addcustomer-info-div">
                <div class="addcustomer-customer-info-field-div addcustomer-form-phone">
                    <label for="phone">Phone :</label>
                    <input type="number" id="phone" placeholder="Phone"
                        class="addcustomer-form-input addcustomer-form-phone-input">
                </div>
                <div class="addcustomer-customer-info-field-div addcustomer-form-email">
                    <label for="Email">Email :</label>
                    <input type="email" id="Email" placeholder="Email"
                        class="addcustomer-form-input addcustomer-form-email-input">
                </div>
                <div class="addcustomer-customer-info-field-div addcustomer-form-gender">
                    <label for="Gender">Gender :</label>
                    <input type="text" id="Gender" placeholder="Gender"
                        class="addcustomer-form-input addcustomer-form-gender-input">
                </div>
                <q /div>
                    <div class="addcustomer-customer-info-field-div addcustomer-form-product">
                        <label for="purchased-product">Purchased Product :</label>
                        <!-- <textarea name="purchased-product" id="purchased-product" cols="30" rows="10"
                    class="addcustomer-form-input addcustomer-form-product-input"
                    placeholder="Purchased Product"></textarea> -->
                        <input type="text" id="purchased-product" placeholder="Purchased Product"
                            class="addcustomer-form-input addcustomer-form-product-input">
                    </div>
                    <div class="tatboard-addcustomer-info-div">
                        <div class="addcustomer-customer-info-field-div addcustomer-form-address">
                            <label for="delivery-address">Delivery Address :</label>
                            <input type="text" id="delivery-address" placeholder="Delivery Address"
                                class="addcustomer-form-input addcustomer-form-address-input">
                        </div>
                        <div class="addcustomer-customer-info-field-div addcustomer-form-total">
                            <label for="total">Total :</label>
                            <input type="number" id="total" placeholder="$ 00"
                                class="addcustomer-form-input addcustomer-form-total-input">
                        </div>
                    </div>
                    <button type="submit" class="addcustomer-form-add-btn">Add Customer</button>
        </form>
        <!-- </div> -->
    </main>
    <script src="/static/tatboard_style.js"></script>
</body>

</html>